/*  BODY ADAPTE A L'IMPRESSION */
@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
   } 
}

/*  BODY ADAPTE A L'IMPRESSION */
body{
    margin: 0 auto;
    width: 80%;
    height: 1200px;
}

/*  LE TITRE DU HEADER   */
header h1{
    font-size: 45px;
    text-align: center;
}


/*  LES INPUTS DANS LE HEADER   */
.formulaire{
        padding-left: 50px;
}

.formulaire input{
    width: 220px;
    margin: 3px;
    
}

/*  LA CLASS FACTURE */
.facture{
    float: right;
    padding-right: 126px;
}

.facture label{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.clear{
    clear: both;
}

/*  LA CLASS nFACTURE pour de numéro de facture */
.nFacture label{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.nFacture input{
    width: 30px;
}

/*                  SECTION COORDONNEES              */
.destinataire, .expedier{
    display: inline-block;
}

.expedier{
    margin-left: 820px;
}

.destinataire p, .expedier p{
    font-size: 19px;
    font-weight: 600;
}

.destinataire input, .expedier input{
    width: 220px;
    background-color: rgb(212, 205, 201);
}

#client{
    width: 226px;
}



/*        TABLEAU DÉTAILS DES PRODUITS       */

h2{
    text-align: center;
    font-size: 35px;
    margin-top: 70px;
}

.produits{
    margin: 20px;
}
.produits table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 40px;
    padding: 0;
}

table{
    width: 90%;
    height: 150px;
    
}


/*       INTERIEUR TABLEAU DÉTAILS DES PRODUITS       */
#codeProduit{
    width: 170px;
    transform: translate(20%);
}

#quantite{
    width: 170px;
    transform: translate(20%);
}
.quantiteEcran, .quantiteClavier, .quantiteSouris, .quantiteOrdi{
    width: 170px;
    transform: translate(20%);
}

.ecran, .clavier, .souris, .ordinateur{
    padding-left: 2px;
}

.prixEcran, .prixClavier, .prixSouris, .prixOrdi{
    padding-left: 2px;
}

/*        TABLEAU MONTANT      */

.prix table{
    border-collapse: collapse;
    transform: translate(7%);
    margin-top: 70px;
}

.calcul{
    width: 184px;
}

.sousTotal{
    text-align: right;
    border-left: none;
    border-bottom: none;
    padding-right: 2px;
}

.tva, .port, .total{
    text-align: right;
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-right: 2px;
}

/* REMISE */

.remise{
    visibility: hidden;
    border: 2px solid black;
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 100px;
}

/* FOOTER */

.cheque{
    margin-top: 50px;
}

.cheque input{
    width: 19%;
    border: none;
}

.confiance{
    text-align: center;
    font-weight: bold;
}

button{
    margin-top: 20px;
}



/* PARTIE RESPONSIVE */

@media (max-width : 600px){
    /*  LA CLASS FACTURE */
    .facture{
        float: right;
        margin-top: 10px;
    }

    /*                  SECTION COORDONNEES              */
    .destinataire, .expedier{
        display: inline-block;
    }

    .expedier{
        margin-left: 30px;
    }

    .destinataire p, .expedier p{
        font-size: 19px;
        font-weight: 600;
    }

    .destinataire input, .expedier input{
        width: 150px;
        background-color: rgb(212, 205, 201);
    }

    #client{
        width: 156px;
    }
    

    /*       INTERIEUR TABLEAU DÉTAILS DES PRODUITS       */

    #codeProduit{
        width: 75px;
        margin-right: 20px;
        transform: translate(20%);
    }

    #quantite{
        width: 50px;
        transform: translate(20%);
    }

    .codeProd{
        width: 100px;
    }
    .quantiteEcran, .quantiteClavier, .quantiteSouris, .quantiteOrdi{
        width: 50px;
        transform: translate(20%);
    }
}


@media (min-width : 600px){

    /*                  SECTION COORDONNEES              */
    .destinataire, .expedier{
        display: inline-block;
        padding-left: 50px;
    }

    .expedier{
        margin-left: 50px;
    }

    .destinataire p, .expedier p{
        font-size: 19px;
        font-weight: 600;
    }

    .destinataire input, .expedier input{
        width: 150px;
        background-color: rgb(212, 205, 201);
    }

    #client{
        width: 156px;
    }

    /*       INTERIEUR TABLEAU DÉTAILS DES PRODUITS       */

    #codeProduit{
        width: 70px;
        margin-right: 20px;
        transform: translate(20%);
    }

    #quantite{
        width: 50px;
        transform: translate(20%);
    }

    .codeProd{
        width: 80px;
    }
    .quantiteEcran, .quantiteClavier, .quantiteSouris, .quantiteOrdi{
        width: 70px;
        transform: translate(20%);
    }
}

@media (min-width : 1000px){
    /*                  SECTION COORDONNEES              */
    .destinataire, .expedier{
        display: inline-block;
    }

    .expedier{
        margin-left: 225px;
    }

    .destinataire p, .expedier p{
        font-size: 19px;
        font-weight: 600;
    }

    .destinataire input, .expedier input{
        width: 220px;
        background-color: rgb(212, 205, 201);
    }

    #client{
        width: 226px;
    }
    
    /*       INTERIEUR TABLEAU DÉTAILS DES PRODUITS       */

    #codeProduit{
        width: 110px;
        margin-right: 20px;
        transform: translate(20%);
    }

    #quantite{
        width: 120px;
        transform: translate(20%);
    }

    .codeProd{
        width: 120px;
    }
    .quantiteEcran, .quantiteClavier, .quantiteSouris, .quantiteOrdi{
        width: 110px;
        transform: translate(20%);
    }
}

@media (min-width : 1500px){
    /*                  SECTION COORDONNEES              */
    .destinataire, .expedier{
        display: inline-block;
    }

    .expedier{
         margin-left: 810px;
    }

    .destinataire p, .expedier p{
        font-size: 19px;
        font-weight: 600;
    }

    .destinataire input, .expedier input{
        width: 220px;
        background-color: rgb(212, 205, 201);
    }

    #client{
        width: 226px;
    }

    /*       INTERIEUR TABLEAU DÉTAILS DES PRODUITS       */

    #codeProduit{
        width: 170px;
        margin-right: 20px;
        transform: translate(20%);
    }

    #quantite{
        width: 170px;
        transform: translate(20%);
    }

    .codeProd{
        width: 170px;
    }
    .quantiteEcran, .quantiteClavier, .quantiteSouris, .quantiteOrdi{
        width: 170px;
        transform: translate(20%);
    }
}